<!doctype html>
<html lang="en">
<head>
    <link rel="icon" href="data:;base64,iVBORwOKGO="/>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bike Shop</title>
    <link rel="stylesheet" href="vendor/bootstrap.min.css" type="text/css">
</head>
<body>
<div id="app"></div>
<script src="vendor/vue.js" type="application/javascript"></script>
<script src="vendor/vuex.js" type="application/javascript"></script>
<script src="vendor/vue-router.js" type="application/javascript"></script>
<script src="vendor/client.js" type="application/javascript"></script>
<script type="module">
    import errorHandler from "./src/util/errorHandler.js"
    import main from "./src/index.js"

    addEventListener("error", errorHandler)
    document.addEventListener("DOMContentLoaded", main)
</script>
<script id="app-template" type="text/x-template">
    <div>
        <app-nav class="mb-3 navbar-light bg-light"/>
        <keep-alive>
            <router-view></router-view>
        </keep-alive>
    </div>
</script>
<script id="app-nav-template" type="text/x-template">
    <nav class="navbar navbar-expand">
        <router-link :to="home.path" class="navbar-brand" v-text="home.label"></router-link>
        <ul class="navbar-nav mr-auto">
            <router-link v-for="route, i in routes" :key="route.path" :to="route.path" tag="li" class="nav-item"
                         active-class="active">
                <a href="#" class="nav-link" v-text="route.label"></a>
            </router-link>
        </ul>
    </nav>
</script>
<script id="attendance-page-template" type="text/x-template">
    <div class="container">
        <div v-if="!targetEvent" class="card-columns">
            <div v-for="event in events" class="card" style="cursor: pointer;" @click="targetEvent = event">
                <div class="card-body">
                    <p class="card-title" v-text="event.summary"></p>
                    <p v-if="event.description" class="card-text" v-text="event.description"></p>
                    <p class="card-text" v-if="event.location" v-text="event.location"></p>
                    <table class="table-sm small">
                        <tbody>
                        <tr>
                            <td>From</td>
                            <td v-text="event.start"></td>
                        </tr>
                        <tr v-if="event.end">
                            <td>To</td>
                            <td v-text="event.end"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div v-if="targetEvent">
            <div class="card">
                <div class="row">
                    <div class="col col-lg">
                        <div class="card-body">
                            <p class="card-title" v-text="targetEvent.summary"></p>
                            <p v-if="targetEvent.description" class="card-text" v-text="targetEvent.description"></p>
                            <p class="card-text" v-if="targetEvent.location" v-text="targetEvent.location"></p>
                            <table class="table-sm small">
                                <tbody>
                                <tr>
                                    <td>From</td>
                                    <td v-text="targetEvent.start"></td>
                                </tr>
                                <tr v-if="targetEvent.end">
                                    <td>To</td>
                                    <td v-text="targetEvent.end"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col col-sm">
                        <button class="btn btn-warning w-100 h-100" @click="targetEvent = undefined">Select
                            Different Event
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
<script id="data-store-page-template" type="text/x-template">
    <div class="container">
        <button v-if="isAuthed" class="btn btn-danger" @click="signOut">Sign Out</button>
        <button v-else class="btn btn-success" @click="signIn">Sign In</button>
        <a v-if="isAuthed && auth.spreadsheetId" class="btn btn-primary"
           :href="`https://docs.google.com/spreadsheets/d/${auth.spreadsheetId}`" target="_blank">Open
            Spreadsheet</a>
        <hr>
        <gen-form :inputs="formInputs" :onSubmit="updateAuth"/>
    </div>
</script>
<script id="gen-form-template" type="text/x-template">
    <form @submit="handleSubmit">
        <div v-for="input in inputs" :key="input.id" class="form-group">
            <label :for="input.id">
                <span v-if="input.required" class="text-danger">*</span>
                <span v-text="input.label"></span>
            </label>
            <form-control v-bind="input"/>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</script>
<script id="model-form" type="text/x-template">
    <gen-form :inputs="inputs" :onSubmit="handleSubmit"/>
</script>
</body>
</html>
