<!doctype html>
<html lang="en">
<head>
    <link rel="icon" href="data:;base64,iVBORwOKGO="/>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bike Shop</title>
    <link rel="stylesheet" href="/vendor/bootstrap.min.css" type="text/css">
</head>
<body>
<div id="app"></div>
<script src="/vendor/vue.js" type="application/javascript"></script>
<script src="/vendor/vuex.js" type="application/javascript"></script>
<script src="/vendor/vue-router.js" type="application/javascript"></script>
<script src="/vendor/client.js" type="application/javascript"></script>
<script type="module" src="/index.js"></script>
<script id="app-template" type="text/x-template">
    <div>
        <app-nav class="mb-3 navbar-light bg-light"/>
        <keep-alive>
            <router-view></router-view>
        </keep-alive>
    </div>
</script>
<script id="app-nav-template" type="text/x-template">
    <nav class="navbar navbar-expand">
        <router-link :to="home.path" class="navbar-brand" v-text="home.label"></router-link>
        <ul class="navbar-nav mr-auto">
            <router-link v-for="route, i in routes" :key="route.path" :to="route.path" tag="li" class="nav-item"
                         active-class="active">
                <a href="#" class="nav-link" v-text="route.label"></a>
            </router-link>
        </ul>
    </nav>
</script>
<script id="attendance-page-template" type="text/x-template">
    <div class="container">
        <div v-if="!targetEvent" class="card-columns">
            <event-card v-for="event in events" :key="event.id" :event="event" :onClick="() => targetEvent = event"/>
        </div>
        <div v-if="targetEvent">
            <div class="row">
                <div class="col col-lg">
                    <event-card :event="targetEvent"/>
                </div>
                <div class="col col-sm">
                    <button class="btn btn-warning w-100 h-100" @click="targetEvent = undefined">Select
                        Different Event
                    </button>
                </div>
            </div>
        </div>
    </div>
</script>
<script id="data-store-page-template" type="text/x-template">
    <div class="container">
        <button v-if="isAuthed" class="btn btn-danger" @click="signOut">Sign Out</button>
        <button v-else class="btn btn-success" @click="signIn">Sign In</button>
        <a v-if="spreadsheet && spreadsheet.spreadsheetUrl" class="btn btn-primary" :href="spreadsheet.spreadsheetUrl"
           target="_blank">Open Spreadsheet</a>
        <hr>
        <gen-form :inputs="formInputs" :onSubmit="updateAuth"/>
    </div>
</script>
<script id="gen-form-template" type="text/x-template">
    <form @submit="handleSubmit">
        <div v-for="control in controls" v-show="control.type !== 'hidden'" :key="control.id" class="form-group">
            <label :for="control.id">
                <span v-if="control.required" class="text-danger">*</span>
                <span v-text="control.label"></span>
            </label>
            <form-control v-bind="control"/>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</script>
<script id="event-card-template" type="text/x-template">
    <div class="card" :style="{cursor: clickable ? 'pointer' : undefined}" @click="onClick">
        <div class="card-body">
            <p class="card-title" v-text="event.summary"></p>
            <p v-if="event.description" class="card-text" v-text="event.description"></p>
            <p class="card-text" v-if="event.location" v-text="event.location"></p>
            <table class="table-sm small">
                <tbody>
                <tr>
                    <td>From</td>
                    <td v-text="event.start"></td>
                </tr>
                <tr v-if="event.end">
                    <td>To</td>
                    <td v-text="event.end"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</script>
</body>
</html>
