<!DOCTYPE html>
<html>
<head>
    <link href="data:image/x-icon;," rel="shortcut icon" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" name="viewport">
</head>
<body>
<div id="app"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vuex/3.1.0/vuex.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/3.0.2/vue-router.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vuetify/1.5.9/vuetify.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js"></script>
<script src="https://apis.google.com/js/api.js"></script>
<script src="index.js" type="module"></script>
<script id="app-template" type="text/x-template">
    <v-app>
        <v-content>
            <v-toolbar flat>
                <v-toolbar-title v-text="appTitle"></v-toolbar-title>
            </v-toolbar>
            <router-view></router-view>
            <navbar :routes="mainNav"></navbar>
        </v-content>
    </v-app>
</script>
<script id="config-page-template" type="text/x-template">
    <v-container>
        <v-form ref="form" @submit.prevent="handleSubmit">
            <h1>Application Config</h1>
            <fieldset class="pa-2">
                <legend class="headline">Google</legend>
                <v-text-field name="google.apiKey" label="Api Key" :value="google.apiKey"></v-text-field>
                <v-text-field name="google.clientId" label="Client Id" :value="google.clientId"></v-text-field>
                <v-text-field name="google.calendarId" label="Calendar Id" :value="google.calendarId"></v-text-field>
            </fieldset>
            <v-btn type="submit" color="success">Save</v-btn>
        </v-form>
    </v-container>
</script>
<script id="navbar-template" type="text/x-template">
    <v-bottom-nav :active.sync="active" :value="true" absolute color="transparent" :mandatory="true">
        <v-btn v-for="item in items" :key="item.name" flat :value="item.name" :to="item.href">
            <span v-text="item.text"></span>
            <v-icon v-text="item.icon"></v-icon>
        </v-btn>
    </v-bottom-nav>
</script>
<script id="card-list-template" type="text/x-template">
    <v-layout row wrap>
        <v-flex v-for="card in cards" class="ma-1" :key="card.name" xs12 sm4 md3 lg2>
            <card v-bind="card"></card>
        </v-flex>
    </v-layout>

</script>
<script id="card-template" type="text/x-template">
    <v-card :to="href" @click.prevent="clickHandler">
        <v-card-title v-if="title" primary-title class="text-sm-center">
            <h3 class="headline mb-0" v-text="title"></h3>
        </v-card-title>
        <v-card-text v-if="text" v-text="text"></v-card-text>
    </v-card>
</script>
<script id="events-page-template" type="text/x-template">
    <v-container>
        <h1>
            <v-btn fab>
                <v-icon @click.prevent="fetchEvents">refresh</v-icon>
            </v-btn>
            <span>Events List</span>
        </h1>
        <v-layout v-if="cards.length" row wrap>
            <v-flex v-for="card in cards" class="ma-1" :key="card.name" xs12 sm4 md3 lg2>
                <card v-bind="card"></card>
            </v-flex>
        </v-layout>
    </v-container>
</script>
<script id="people-page-template" type="text/x-template">
    <v-container>
        <h1>
            <v-btn fab :to="newHref">
                <v-icon>add</v-icon>
            </v-btn>
            <span>People</span>
        </h1>
        <v-layout row wrap>
            <v-flex v-for="card in cards" class="ma-1" :key="card.name" xs12 sm4 md3 lg2>
                <card v-bind="card"></card>
            </v-flex>
        </v-layout>
    </v-container>
</script>
<script id="qux-page-template" type="text/x-template">
    <h1>Qux</h1>
</script>
<script id="edit-person-page" type="text/x-template">
    <v-container>
        <h1>Edit Person</h1>
        <v-form @submit.prevent="handleSubmit" ref="form">
            <v-text-field label="Name" name="name" :value="person.name"></v-text-field>
            <v-text-field label="Address" name="address" :value="person.address"></v-text-field>
            <v-text-field label="Phone" mask="phone" name="phone" :value="person.phone"></v-text-field>
            <v-btn type="submit" color="success">Save</v-btn>
        </v-form>
    </v-container>
</script>
<script id="event-page-template" type="text/x-template">
    <v-container>
        <v-expansion-panel class="mb-2">
            <v-expansion-panel-content>
                <template v-slot:header>
                    <h1 v-text="event.name"></h1>
                </template>
                <pre v-text="$data" class="pa-3"></pre>
            </v-expansion-panel-content>
        </v-expansion-panel>
        <v-layout v-if="btns.length" row wrap>
            <v-flex v-for="btn in btns" :key="btn.id" xs12 sm4 md3 lg2 class="ma-1">
                <v-card @click.prevent="btn.onClick" :dark="!btn.active" style="cursor: pointer;">
                    <v-card-title>
                        <h3 v-text="btn.text"></h3>
                    </v-card-title>
                    <v-card-text v-text="btn.text"></v-card-text>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</script>
</body>
</html>